* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hosimg {
display: flex;
justify-content: center;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  text-align: center;
}
body {
  background-color: rgb(127, 32, 137);
  font-size: 30px;
}
.title {
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: black underline;
  margin-left: 100px;
  color: white;
  letter-spacing: 5px;
}
.bmi-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 30vw;
  margin: 100px;
}
.bmi-form input {
  padding: 15px;
  border: none;
}

.bmi-button {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.red {
  background-color: rgb(255, 99, 99);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}